.App {
  text-align: center;
}
.Tab {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  align-items: center;
  background-color: rgb(240, 228, 197);
  align-self: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.gap{
  width:20px;
  background:none;
  display:inline-block;
}

.button {
  height: 40px;
  align-self: center;
  outline: none;
  cursor: pointer;
  background: white;
  border-radius: 5px;
}

.input {
  height: 30px;
  align-self: center;
  width: 360px;
}

.file-input {
  align-self: center;
}

.table {
  table-layout: fixed;
  width: 90%;
  align-self: center;
  border-collapse: collapse;
  text-align: center;
}

.table td, th {
  padding: 12px 10px;
  border: solid thin;
  border-color: white;
}